.setting .setting-content button {
  width: 100px;
  height: 40px;
  margin: 5px;
  padding: 10px;
  background-color: #304848;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.setting .setting-content button:hover {
  background-color: #2a3b3b;
}

.setting .contact-btns button {
  font-size: 1.3rem;

  background-color: #000000;
  color: rgb(203, 203, 203);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}
.setting .contact-btns button:hover {
  background-color: #2a3b3b;
}

#feedback {
  border: 1px solid #7475754e;
  border-radius: 8px;
}
