@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.navbar {
  display: flex;
  width: 82%;
  height: 40px;
  margin-inline: auto;
  font-family: "DM Sans", sans-serif;
  justify-content: space-between;
  margin-top: 40px;
}

.logo {
  display: flex;
  color: #9c9c9c;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "DM Sans", sans-serif;
}

.logo:hover {
  color: white;
}

.logo_icon {
  width: 40px;
  height: 40px;
  background-color: #f52a2a;
  border-radius: 8px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
}

.logo_icon h3 {
  font-size: 20px;
  position: relative;
  bottom: 2px;
  font-family: "DM Sans", sans-serif;
}

.navbar .nav_links {
  width: 40%;
  justify-self: center;
}

.navbar .nav_links ul {
  width: 100%;
  display: flex;
  gap: 10%;
  margin-inline: auto;
  list-style: none;
}

.navbar .nav_links ul li {
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.nav_links ul li:nth-child(3) {
  min-width: 130px;
}

.navbar .nav_links ul li a {
  text-decoration: none;
  color: #9c9c9c;
}

.navbar .nav_links ul li a:hover {
  color: white;
}

.cta_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f9;
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.cta_btn:hover {
  transform: scale(1.05);
}

.cta_btn:active {
  transform: scale(0.95);
}
